{{ define "main" }}
    <div class="portfolio-project post {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <div class="post-content">
            <div class="post-title">
                <h3>{{ .Title }}</h3>
            </div>
	    <p class="description">{{ .Description }}</p>

            {{ .Content }}

            {{- if (eq .Params.contact true) -}}
              {{- partial "contact.html" . -}}
            {{- end -}}

        </div>
        <div class="post-footer">
            <div class="info">
		    <h4>Skills used in this project:</h4>
		    {{ with .Page.Params.Tags }}{{ partial "taxonomy/skills.html" . }}{{ end }}
            </div>
        </div>
    </div>

{{ end }}
