{{ define "main" }}
    <div class="archive {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <ul class="list-with-title">
		{{ range .Pages }}
		<ul class="listing">
			<a href="{{ .RelPermalink }}" title="{{ .Title }}">
				<div class="listing-job">
					<img src="{{ .Params.thumbnail }}" alt="{{ .Title }}" loading="lazy" class="job-thumbnail">
					<div class="job-info">
						<h2>{{ .Title }}</h2>
						<p class="job-description">{{ .Description }}</p>
					</div>
				</div>
			</a>
		</ul>
		{{ end }}
	</ul>
    </div>
    {{ end }}
