{{ define "main" }}
    <div class="archive {{ with .Site.Params.doNotLoadAnimations }} . {{ else }} animated fadeInDown {{ end }}">
        <ul class="list-with-title">
            {{ range .Data.Pages.GroupByDate "2006" }}
                <div class="listing-title">{{ .Key }}</div>
                {{ range .Pages }}
                    <ul class="listing">
                        <div class="listing-item">
				<div class="listing-post"><a href="https://www.{{ .Params.repoHost }}.com/{{ .Site.Params.gitLabUsername }}/{{ .Params.repo }}" title="{{ .Title }}">{{ .Title }}</a>
                                <div class="post-time"><span class="date">{{ if isset .Site.Params "listdateformat" }} 
                                                                            {{ .Date.Format .Site.Params.listDateFormat }}
                                                                            {{ else }} {{.Date.Format "Jan 2"}} 
                                                                            {{ end }}</span></div>
                            </div>
                        </div>
                    </ul>
                {{ end }}
            {{ end }}
        </ul>
    </div>
{{ end }}
