.normal-link {
	font-size: 1em !important;
	color: #7A9DB4 !important;
}
.listing-job {
	display: flex;
	justify-content: space-evenly;
	margin-bottom: 1em;
}
.job-thumbnail {
	border: 2px solid gray;
	border-radius: 5px;
	width: 25%;
	object-fit: cover;
}
.job-info {
	width: 60%;
}
.skill {
	border-radius: 5px;
	background-color: #7A9DB4;
	color: white !important;
	display: inline-block;
	font-weight: bolder;
	margin-bottom: .2em;
	padding: .5em;
}
.portfolio-project .post-content > p:not(.description) {
	text-align:center;
}
.post-content img {
	border: 1px solid gray;
	border-radius: 5px;
}
